.row
  - Poster::POST_METHODS.keys.each do |provider|
    .col-sm-3
      - if logged_in?(provider)
        %p
          Logged into 
          %strong= pretty_provider_name(provider)
          as:
          %br
          = link_to current_identity(provider).screen_name, current_identity(provider).url
        %img(src="#{current_identity(provider).image_url}")
        %br
        = link_to 'Sign out', signout_path(provider), id: "signout_#{provider}"
      - else
        = link_to "Sign in to post on #{pretty_provider_name(provider)}", "/auth/#{provider}"