.row
  .col-sm-3
    - if logged_in?(:facebook)
      %p
        Logged into 
        %strong Facebook 
        as:
        %br
        = link_to current_identity(:facebook).screen_name, current_identity(:facebook).url
      %img(src="#{current_identity(:facebook).image_url}")
      %br
      = link_to 'Sign out', signout_path(:facebook), id: "signout_facebook"
    - else
      = link_to 'Sign in to post on Facebook', '/auth/facebook'

  .col-sm-3
    - if logged_in?(:twitter)
      %p
        Logged into
        %strong Twitter
        as:
        %br
        = link_to current_identity(:twitter).screen_name, current_identity(:twitter).url
      %img(src="#{current_identity(:twitter).image_url}")
      %br
      = link_to 'Sign out', signout_path(:twitter),  id: "signout_twitter"
    - else
      = link_to 'Sign in to post on Twitter', '/auth/twitter'

  .col-sm-3
    - if logged_in?(:salesforce)
      %p
        Logged into
        %strong Salesforce
        as:
        %br
        = link_to current_identity(:salesforce).screen_name, current_identity(:salesforce).url
      %img(src="#{current_identity(:salesforce).image_url}")
      %br
      = link_to 'Sign out', signout_path(:salesforce), id: "signout_salesforce"
    - else
      = link_to 'Sign in to post on Saleforce Chatter', '/auth/salesforce'

  .col-sm-3
    - if logged_in?(:linkedin)
      %p
        Logged into
        %strong Linkedin
        as:
        %br
        = link_to current_identity(:linkedin).screen_name, current_identity(:linkedin).url
      %img(src="#{current_identity(:linkedin).image_url}")
      %br
      = link_to 'Sign out', signout_path(:linkedin), id: "signout_linkedin"
    - else
      = link_to 'Sign in to post on LinkedIn', '/auth/linkedin'