.row
  .col-sm-6.col-sm-offset-4.voffset-5
    %h3 Post an update:
    .form-inline
      = form_for :post, url: posts_path, method: :post do |f|
        = f.text_area :body, cols: 50, rows: 10
        %br
        = f.label :to_twitter, 'on Twitter'
        = f.check_box :to_twitter
        = f.label :to_facebook, 'on Facebook'
        = f.check_box :to_facebook
        = f.label :to_salesforce, 'on Salesforce'
        = f.check_box :to_salesforce
        = f.label :to_linkedin, 'on Linkedin'
        = f.check_box :to_linkedin
        %br
        %br
        = f.submit 'Post', class: 'btn btn-success btn-lg'