.row
  .col-sm-6.col-sm-offset-4.voffset-5
    %h3 Post an update:
    .form-inline
      = form_for :post, url: posts_path, method: :post do |f|
        = f.text_area :body, cols: 50, rows: 10
        %br
        - Poster::POST_METHODS.keys.each do |provider|
          = f.label provider, "on #{pretty_provider_name(provider)}"
          = f.check_box provider
        %br
        %br
        = f.submit 'Post', class: 'btn btn-success btn-lg'