<!DOCTYPE html>
<html>
  <head>
    <title>Twitter integration test</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <% if logged_in? %>
        <p>Signed in as <strong><%= current_user.name %></strong>!</p>
        <p>Logged into Twitter as:
        <%= link_to current_user.screen_name, current_user.url %>
        <img src="<%= current_user.image_url %>">
        <%= link_to 'Sign out', signout_path, id: 'sign_out' %>
      <% else %>
        <%= link_to 'Sign in with Twitter', '/auth/twitter', id: 'sign_in' %>
      <% end %>
    </div>

  <%= yield %>

  </body>
</html>